@charset "utf-8";
footer{
	text-align: center;
  background-color: rgba(209, 255, 255, 0.904);
  padding-top: 3%;
	padding-bottom: 3%;
  }
  
body{
    background-image: url(../images/a82592a00447f45ac1684405d5feb82c.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a {
    text-decoration: none;
  }
  .link{
    text-decoration: underline !important;
  }
.img-M {
    width: 600px;
    height: 337px;

    box-shadow:12px 12px 6px rgba(63, 63, 63, 0.863);
    }
.title{
    font-size: 4rem;
    padding-top: 47px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
	background:linear-gradient(transparent 80%,#ffd803 0%);
}

.name{
    font-size: 3.2rem;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#name{
    font-style: italic;
    font-size: xx-large;
}

.main-face{
    text-align: center;
    padding-bottom: 30px;
}

.sub-title{
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sub2-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.text{
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(245, 245, 220, 0.8);
    margin-bottom: 40px;
    padding-bottom: 25px;
    padding-top: 25px;
}

header {
    background-color:  rgb(255, 255, 255);
    position: fixed;
    justify-content: space-between;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    height: 60px;
  }
  .header-nav {
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  .nav-list {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .nav-list:hover {
    color: aqua;
  }


  .hamburger {
    display: none;
    width: 32px;
    height: auto;
    cursor: pointer;
  }
  .hamburger div {
    background-color: #000000;
    border-radius: 20px;
    padding: 2px 5px;
    margin: 4px 0;
  }
  .hamburger p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
  }


  @media screen and (max-width: 900px) {
    .hamburger {
      display: block;
    }
    .header-nav {
      display: none;
      position: absolute;
      flex-direction: column;
      top: 60px;
      right: 0;
      width: 100%;
      height: auto;
    }
    .active {
      display: flex;
    }
    .nav-list {
      text-align: center;
      margin: 20px 0;
      width: 100%;
    }
    .head-title{
        padding-right: 50%;
    }
    .sub-title{
      font-size: 2.5rem;
    }

    .img-M{
        width: 95%;
        height: 20%;
    }

    body{
        background-position: right 33% bottom 10%;
    }


    .name{
        font-size: 3.2rem;
        text-align: left;
    }
    #name{
        font-style: italic;
        font-size: x-large;
    }
  }



  @media screen and (max-width: 1024px) {
    body{
      background-position: right 33% bottom 10%;
        }

        .img-M{
          width: 85%;
          height: 18%;
      }

  }