@charset "utf-8";
footer{
  text-align: center;
  background-color: rgba(209, 255, 255, 0.904);
  padding-top: 3%;
  padding-bottom: 3%;
  
  margin-top: 32px;
}

  body{
    background: linear-gradient(45deg, #6cb8ff, #fff66c, #ffa36c);
    background-size: 600% 600%;
    animation: AnimationName 20s ease infinite;
    }
     
    @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
    }

    a {
        text-decoration: none;
      }

      
      .float{
        justify-content: center;

        display: flex;

        flex-wrap: wrap;
      }
      .float li{
        display: inline; 
      
        list-style: none;
        
        padding: 5px;
        margin-right: 5px;
      }
      .image-icon{
        padding: 18px;
      }
      
.title{
    font-size: 4rem;
    padding-top: 47px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
	background:linear-gradient(transparent 80%,#ffd803 0%);
}

.description{
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    color: black;
}

.sub-title{
    font-size: 2.4rem;
    text-align: center;
}

.form{
    padding-top: 4%;
}

div.image-icon img{
    width: 120px;
    height: 90px; 
}
div.image-icon img:hover{
  transform: scale(0.9, 0.9);
}



  #popup{
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
  }
  


  

  @media screen and (max-width: 1024px) {
    
  }

  header {
    background-color:  rgb(255, 255, 255);
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    height: 60px;
  }
  .header-nav {
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  .nav-list {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .nav-list:hover {
    color: aqua;
  }


  .hamburger {
    display: none;
    width: 32px;
    height: auto;
    cursor: pointer;
  }
  .hamburger div {
    background-color: #000000;
    border-radius: 20px;
    padding: 2px 5px;
    margin: 4px 0;
  }
  .hamburger p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
  }


  @media screen and (max-width: 900px) {
    .hamburger {
      display: block;
    }
    .header-nav {
      display: none;
      position: absolute;
      flex-direction: column;
      top: 60px;
      right: 0;
      width: 100%;
      height: auto;
    }
    .active {
      display: flex;
    }
    .nav-list {
      text-align: center;
      margin: 20px 0;
      width: 100%;
    }
    .head-title{
        padding-right: 50%;
    }
    body{
        background-image: url(../images/publicdomainq-0030527cvuiyk.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    @keyframes AnimationName {
        }

        .description{
            font-size: 1.2rem;
            margin-left: 0rem;
            text-align: center;
            margin-top: 1rem;
            color: black;
        }

        
}

#share{
  text-align: center;
}